<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TheTennisProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TheTennisProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TheTennisProject.Properties.Settings>
            <setting name="OpenEraYearBegin" serializeAs="String">
                <value>1968</value>
            </setting>
            <setting name="ConnectionStringPattern" serializeAs="String">
                <value>Server={0};Database={1};Uid={2};Pwd={3};</value>
            </setting>
            <setting name="SearchImgUrlPattern" serializeAs="String">
                <value>https://www.google.fr/search?q={0}</value>
            </setting>
        </TheTennisProject.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <TheTennisProject.Properties.Settings>
            <setting name="SQL_server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="SQL_db" serializeAs="String">
                <value>the_tennis_project</value>
            </setting>
            <setting name="SQL_uid" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="SQL_pwd" serializeAs="String">
                <value />
            </setting>
            <setting name="ErrorLogFilePath" serializeAs="String">
                <value>D:\Ma programmation\c#\Projects\TheTennisProject\TheTennisProject\tennis.log</value>
            </setting>
            <setting name="ComputeStatisticsWhileLoading" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ComputeMatchesWhileLoading" serializeAs="String">
                <value>False</value>
            </setting>
        </TheTennisProject.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
